<h1><%= title %></h1>
<p>Welkom op <%= title %>! Dit is een website waar je films kunt ontdekken en beheren.  
Log in of registreer om toegang te krijgen tot de staff-functionaliteiten. Probeer eens naar movies met de navigatie-balk.</p>
