<h1 class="mb-4"><%= title %></h1>

<button type="button" class="btn btn-primary mb-3">Skibidi Button</button>

<ul class="list-group">
  <% movies.forEach(function(movie) { %>
    <li class="list-group-item">
      <%= movie.title %> (<%= movie.year %>)
    </li>
  <% }) %>
</ul>
